#google_translate_element select{
    background:transparent;

    color:rgb(248, 47, 47);
    margin-top: 3vh;
    border: none;
    border-radius:3px;
    padding: 6px;
    font-size: 14px;
   
    }
    .goog-logo-link{
      display:none!important;
     }
    .goog-te-gadget{
    color:transparent!important;
    } 
    .goog-te-banner-frame.skiptranslate {
        display: none !important;
        } 
    body {
        top: 0px !important; 
        }
    
    #goog-gt-tt, .goog-te-balloon-frame{display: none !important;}
   .goog-text-highlight { background: none !important; box-shadow: none !important;}

   
  