{% load static %}
{% load embed_video_tags %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Goju Ryu Okinawa </title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{% static 'img/ki.png' %}" rel="icon">
  <link href="{% static 'img/ki.png' %}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Montserrat:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">


  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="{% static 'css/historline.css' %}" rel="stylesheet">
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>


  <!-- Vendor CSS Files -->
  <link href="{% static 'vendor/aos/aos.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/remixicon/remixicon.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static 'css/style.css' %}" rel="stylesheet">
  <link href="{% static 'css/lineage.css' %}" rel="stylesheet">
  <!-- =======================================================
  * Template Name: Bootslander - v4.5.0
  * Template URL: https://bootstrapmade.com/bootslander-free-bootstrap-landing-page-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
  <style>
    #event_name{
      margin:5px;
      text-align: center;
      margin-bottom:4vh;
      margin-top: 2vh;
      font-size: 14px;
     
    }
    #event_name h5{
      text-decoration: none;
      color: #000;
    }
    #morebtn{
      width: 100%;
      text-align: center;
      
    }
    #morebtn button a{
      color: #fff;
      font-weight: 400;
      opacity: 1px;
    }
    #morebtn  a:hover{
      opacity: 0.6 px;
    }
    
    
    #morebtn button{
      background: 	#6cb0d0;
      width: 140px;
      height: 40px;
      border-radius: 50px;
      transition: all 0.4s;
      border: none;
      color: #fff;
    }
    #event_name:hover  {
      transform: scale(1.1);
    }

  /* Person */
.person {
	border: 1px solid black;
	padding: 10px;
	min-width: 150px;
	background-color: #FFFFFF;
	display: inline-block;
}

.person.female {
	border-color: #F45B69;
}

.person.male {
	border-color: #456990;
}

.person div {
	text-align: center;
}

.person .name {
	font-size: 16px;
}

.person .parentDrop, .person .spouseDrop, .person .childDrop {
	border: 1px dashed #000000;
	width: auto;
	min-width: 80px;
	min-height: 80px;
	display: inline-block;
	vertical-align: top;
	position: relative;
	padding-top: 15px;
}

.person .parentDrop>span,
.person .spouseDrop>span,
.person .childDrop>span {
	position: absolute;
	top: 2px;
	left: 2px;
	font-weight: bold;
}
.parentDrop>.person,
.spouseDrop>.person,
.childDrop>.person {
	margin-top: 20px;
}
#about video{
  margin-top:8vh;
}
@media(max-width:921px)
{
  #about video{
    margin-top:0vh;
  }
}


    
  </style>
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top d-flex align-items-center header-transparent">
    <div class="container d-flex align-items-center justify-content-between">

      <div class="logo">
        <h1><a href="#"><span><img src="{% static 'img/logo1.png' %}" alt="" class="img-fluid"></span></a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
      </div>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
          <li><a class="nav-link scrollto" href="#about">About</a></li>
          <li><a class="nav-link scrollto" href="{% url 'load_member' %}">Associate Members</a></li>
          <li><a class="nav-link scrollto" href="#gallery">Gallery</a></li>
          <li><a class="nav-link scrollto" href="#features">Katas</a></li>
          <li><a class="nav-link scrollto" href="{% url 'load_affiliation' %}">Affiliaton</a></li>
          <li><a class="nav-link scrollto" href="#contact">Contact</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero">

    <div class="container">
      <div class="row justify-content-between">
        <div class="col-lg-7 pt-5 pt-lg-0 order-2 order-lg-1 d-flex align-items-center">
          <div data-aos="zoom-out">
            <h1>Goju Ryu Okinawa Karate Do Association<span></span></h1>
            <h2>Be Karate The Way Of Life</h2>
            
          </div>
        </div>
        <div class="col-lg-4 order-1 order-lg-2 hero-img" data-aos="zoom-out" data-aos-delay="300">
          <img src="{% static 'img/logo1.png' %}" class="img-fluid animated" alt="" style="border-radius:40%;">
        </div>
      </div>
    </div>

    <svg class="hero-waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 24 150 28 " preserveAspectRatio="none">
      <defs>
        <path id="wave-path" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z">
      </defs>
      <g class="wave1">
        <use xlink:href="#wave-path" x="50" y="3" fill="rgba(255,255,255, .1)">
      </g>
      <g class="wave2">
        <use xlink:href="#wave-path" x="50" y="0" fill="rgba(255,255,255, .2)">
      </g>
      <g class="wave3">
        <use xlink:href="#wave-path" x="50" y="9" fill="#fff">
      </g>
    </svg>

  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container-fluid">

        <div class="row" style="width:100%;color:#000;">
          <div class="col-lg-12 col-lg-12 col-sm-12 icon-boxes d-flex flex-column align-items-stretch justify-content-center py-5 m-2 " data-aos="fade-left">
            <h3 class="text-center">Lineage of Goju Okinawa Karate Do Association </h3>
          </div>
        </div>  
        <div class="row" >
          <div class="col-lg-7 col-sm-2 text-end">
            <img src="{% static 'img/lenage.jpg' %}" alt="" class="img-fluid" style="width:100vh ;height:110vh; ">
          </div>
          <div class="col-lg-3 col-sm-2 text-start">
            <div class="text-start m-1">
              <img src="{% static 'img/team/m1.jpg' %}" alt="" class="img-fluid mt-2" style="width:10vh ;height:10vh;  border-radius:50%;">
              <a href="{% url 'history' %}#section_1"><h5>Sokan MatSumara</h5></a>
            </div>
            <div class="text-end m-1">
              <img src="{% static 'img/team/m2.jpg' %}" alt="" class="img-fluid mt-2" style="width:10vh ;height:10vh;border-radius:50%;">
              <a href="{% url 'history' %}#section_2"><h5>Sokan MatSumara</h5></a>
            </div>
            <div class="text-start m-1">
              <img src="{% static 'img/team/m3.jpg' %}" alt="" class="img-fluid mt-2" style="width:10vh ;height:10vh; border-radius:50%;">
              <a href="{% url 'history' %}#section_3"><h5>Sokan MatSumara</h5></a>
            </div>
            <div class="text-end m-1">
              <img src="{% static 'img/team/m2.jpg' %}" alt="" class="img-fluid mt-2" style="width:10vh ;height:10vh;border-radius:50%;">
              <a href="{% url 'history' %}#section_4"><h5>Sokan MatSumara</h5></a>
            </div>
            <div class="text-start m-1">
              <img src="{% static 'img/team/m3.jpg' %}" alt="" class="img-fluid mt-2" style="width:10vh ;height:10vh; border-radius:50%;">
              <a href="{% url 'history' %}#section_5 %}"><h5>Sokan MatSumara</h5></a>
            </div> 
        </div>
        <div class="col-lg-2 col-sm-2 text-start"></div>
 
      </div>
    </section><!-- End About Section -->

     <!-- ======= About Section ======= -->
     <section id="about" class="about">
      <div class="container-fluid">

        <div class="row">
          <div class="col-xl-6 col-lg-6 video-box d-flex justify-content-center align-items-stretch" data-aos="fade-right">
              <video  controls loop autoplay  style="width:100%;">
                <source src="static/img/video.mp4" type="video/mp4">
              </video>
          </div>
          <div class="col-xl-6 col-lg-6 icon-boxes d-flex flex-column align-items-stretch  px-5 py-3 " data-aos="fade-left">
            <h3>About Us</h3>
            <p>JKMO INDIA is a SHOTOKAN Karate Association under the direct instruction of Shihan Sasaki Toshiatsu (Japan), a famous WKF Referee and an authorised shitei Kata Trainer of WKF Katas.</p> 
            
              <div class="row">
                <div class="col-xl-6 mt-2">
                  <div class="card"style="width: 16rem;">
                    <img src="{% static 'img/team/m1.jpg' %}" class="card-img-top" alt="..."style="width: 16rem;height:10rem;">
                    <div class="card-body text-center">
                      <h5 class="card-title">Sokan MatSumara</h5>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      <a href="{% url 'history' %}#section_2" class="btn btn-success text-center">About More</a>
                    </div>
                  </div>
                </div>
                <div class="col-xl-6 mt-2">
                  <div class="card" style="width: 16rem;">
                    <img src="{% static 'img/team/m3.jpg' %}" class="card-img-top" alt="..."style="width: 16rem;height:10rem;">
                    <div class="card-body text-center">
                      <h5 class="card-title">Sokan MatSumara</h5>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      <a href="{% url 'history' %}#section_5" class="btn btn-primary text-center">About More</a>
                    </div>
                  </div>
                </div>
              </div>

          </div>
        </div>
      </div>
    </section><!-- End About Section -->

    <!-- ======= Features Section ======= -->
    <section id="features" class="features">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h2>Kata</h2>
          <p>Our Katas</p>
        </div>

        <div class="row" data-aos="fade-left">
          <div class="col-lg-3 col-md-4">
            <div class="icon-box" data-aos="zoom-in" data-aos-delay="50">
              <a href="{% url 'load_kata' %}" > <img src="https://static.wixstatic.com/media/453d1d_5f1ee2ea98084385a2569707c7d53474~mv2.gif" alt="saifa.gif" style="width:6vh;height:8vh;object-fit:fill" srcset="https://static.wixstatic.com/media/453d1d_5f1ee2ea98084385a2569707c7d53474~mv2.gif 1x, https://static.wixstatic.com/media/453d1d_5f1ee2ea98084385a2569707c7d53474~mv2.gif 2x"></a>
              <h3  class="mx-3"><a href="{% url 'load_kata' %}"style="color: #000;">Gekisai dai-ichi </a></h3>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 mt-4 mt-md-0">
            <div class="icon-box" data-aos="zoom-in" data-aos-delay="100">
              <a href="{% url 'load_kata' %}"> <img src="http://gojuryu.gr/jkfgojukai/images/photogallery/kata-anim/KURURUNFA.gif" alt="saifa.gif" style="width:6vh;height:8vh;object-fit:fill" ></a>
              <h3 class="mx-3"><a href="{% url 'load_kata' %}" style="color: #000;">Gekisai dai-ni </a></h3>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 mt-4 mt-md-0">
            <div class="icon-box" data-aos="zoom-in" data-aos-delay="150">
              <a href="{% url 'load_kata' %}"> <img src="https://static.wixstatic.com/media/453d1d_5f1ee2ea98084385a2569707c7d53474~mv2.gif" alt="saifa.gif" style="width:6vh;height:8vh;object-fit:fill"></a>
              <h3 class="mx-3"><a href="{% url 'load_kata' %}" style="color: #000;">Saifa</a></h3>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 mt-4 mt-lg-0">
            <div class="icon-box" data-aos="zoom-in" data-aos-delay="200">
              <a href="{% url 'load_kata' %}"> <img src="http://gojuryu.gr/jkfgojukai/images/photogallery/kata-anim/SUPARINPEI.gif" alt="saifa.gif" style="width:6vh;height:8vh;object-fit:fill" ></a>
              <h3 class="mx-3"><a href="{% url 'load_kata' %}" style="color: #000;">Seiyunchin</a></h3>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 mt-4">
            <div class="icon-box" data-aos="zoom-in" data-aos-delay="250">
              <a href="{% url 'load_kata' %}"> <img src="https://static.wixstatic.com/media/453d1d_5f1ee2ea98084385a2569707c7d53474~mv2.gif" alt="saifa.gif" style="width:6vh;height:8vh;object-fit:fill" ></a>
              <h3 class="mx-3"><a href="{% url 'load_kata' %}" style="color: #000;">Shisochin</a></h3>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 mt-4">
            <div class="icon-box" data-aos="zoom-in" data-aos-delay="300">
              <a href="{% url 'load_kata' %}"> <img src="http://gojuryu.gr/jkfgojukai/images/photogallery/kata-anim/SANSERU.gif" alt="saifa.gif" style="width:6vh;height:8vh;object-fit:fill" ></a>
              <h3 class="mx-3"><a href="{% url 'load_kata' %}" style="color: #000;">Sanseru </a></h3>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 mt-4">
            <div class="icon-box" data-aos="zoom-in" data-aos-delay="350">
              <a href="{% url 'load_kata' %}"> <img src="http://gojuryu.gr/jkfgojukai/images/photogallery/kata-anim/SEIPAI.gif" alt="saifa.gif" style="width:6vh;height:8vh;object-fit:fill" ></a>
              <h3 class="mx-3"><a href="{% url 'load_kata' %}" style="color: #000;">Sepai </a></h3>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 mt-4">
            <div class="icon-box" data-aos="zoom-in" data-aos-delay="400">
              <a href="{% url 'load_kata' %}"> <img src="https://static.wixstatic.com/media/453d1d_5f1ee2ea98084385a2569707c7d53474~mv2.gif" alt="saifa.gif" style="width:6vh;height:8vh;object-fit:fill" ></a>
              <h3 class="mx-3"><a href="{% url 'load_kata' %}" style="color: #000;">Kururunfa</a></h3>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 mt-4">
            <div class="icon-box" data-aos="zoom-in" data-aos-delay="450">
              <a href="{% url 'load_kata' %}"> <img src="http://gojuryu.gr/jkfgojukai/images/photogallery/kata-anim/SEISAN.gif" alt="saifa.gif" style="width:6vh;height:8vh;object-fit:fill" ></a>
              <h3 class="mx-3"><a href="{% url 'load_kata' %}" style="color: #000;">Sesan	</a></h3>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 mt-4">
            <div class="icon-box" data-aos="zoom-in" data-aos-delay="500">
              <a href="{% url 'load_kata' %}"> <img src="http://gojuryu.gr/jkfgojukai/images/photogallery/kata-anim/SEIYUCHIN.gif" alt="saifa.gif" style="width:6vh;height:8vh;object-fit:fill" ></a>
              <h3><a href="{% url 'load_kata' %}" style="color: #000;">Suparunpei </a></h3>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 mt-4">
            <div class="icon-box" data-aos="zoom-in" data-aos-delay="550">
              <a href="{% url 'load_kata' %}"> <img src="https://static.wixstatic.com/media/453d1d_5f1ee2ea98084385a2569707c7d53474~mv2.gif" alt="saifa.gif" style="width:6vh;height:8vh;object-fit:fill"></a>
              <h3 class="mx-3"><a href="{% url 'load_kata' %}" style="color: #000;">Sanchin </a></h3>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 mt-4">
            <div class="icon-box" data-aos="zoom-in" data-aos-delay="600">
              <a href="{% url 'load_kata' %}"> <img src="http://gojuryu.gr/jkfgojukai/images/photogallery/kata-anim/SHISOCHIN.gif" alt="saifa.gif" style="width:6vh;height:8vh;object-fit:fill" ></a>
              <h3 class="mx-3"><a href="{% url 'load_kata' %}" style="color: #000;">Tensho </a></h3>
            </div>
          </div>
               
        </div>

      </div>
    </section><!-- End Features Section -->

    
    <!-- ======= Details Section 
    <section id="details" class="details">
      <div class="container">

        <div class="row content">
          <div class="col-md-4" data-aos="fade-right">
            <img src="{% static 'img/details-1.png' %}" class="img-fluid" alt="">
          </div>
          <div class="col-md-8 pt-4" data-aos="fade-up">
            <h3>Voluptatem dignissimos provident quasi corporis voluptates sit assumenda.</h3>
            <p class="fst-italic">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
              magna aliqua.
            </p>
            <ul>
              <li><i class="bi bi-check"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat.</li>
              <li><i class="bi bi-check"></i> Duis aute irure dolor in reprehenderit in voluptate velit.</li>
              <li><i class="bi bi-check"></i> Iure at voluptas aspernatur dignissimos doloribus repudiandae.</li>
              <li><i class="bi bi-check"></i> Est ipsa assumenda id facilis nesciunt placeat sed doloribus praesentium.</li>
            </ul>
            <p>
              Voluptas nisi in quia excepturi nihil voluptas nam et ut. Expedita omnis eum consequatur non. Sed in asperiores aut repellendus. Error quisquam ab maiores. Quibusdam sit in officia
            </p>
          </div>
        </div>

        <div class="row content">
          <div class="col-md-4 order-1 order-md-2" data-aos="fade-left">
            <img src="{% static 'img/details-2.png' %}" class="img-fluid" alt="">
          </div>
          <div class="col-md-8 pt-5 order-2 order-md-1" data-aos="fade-up">
            <h3>Corporis temporibus maiores provident</h3>
            <p class="fst-italic">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
              magna aliqua.
            </p>
            <p>
              Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
              velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
              culpa qui officia deserunt mollit anim id est laborum
            </p>
            <p>
              Inventore id enim dolor dicta qui et magni molestiae. Mollitia optio officia illum ut cupiditate eos autem. Soluta dolorum repellendus repellat amet autem rerum illum in. Quibusdam occaecati est nisi esse. Saepe aut dignissimos distinctio id enim.
            </p>
          </div>
        </div>

        <div class="row content">
          <div class="col-md-4" data-aos="fade-right">
            <img src="{% static 'img/details-3.png' %}" class="img-fluid" alt="">
          </div>
          <div class="col-md-8 pt-5" data-aos="fade-up">
            <h3>Sunt consequatur ad ut est nulla consectetur reiciendis animi voluptas</h3>
            <p>Cupiditate placeat cupiditate placeat est ipsam culpa. Delectus quia minima quod. Sunt saepe odit aut quia voluptatem hic voluptas dolor doloremque.</p>
            <ul>
              <li><i class="bi bi-check"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat.</li>
              <li><i class="bi bi-check"></i> Duis aute irure dolor in reprehenderit in voluptate velit.</li>
              <li><i class="bi bi-check"></i> Facilis ut et voluptatem aperiam. Autem soluta ad fugiat.</li>
            </ul>
            <p>
              Qui consequatur temporibus. Enim et corporis sit sunt harum praesentium suscipit ut voluptatem. Et nihil magni debitis consequatur est.
            </p>
            <p>
              Suscipit enim et. Ut optio esse quidem quam reiciendis esse odit excepturi. Vel dolores rerum soluta explicabo vel fugiat eum non.
            </p>
          </div>
        </div>

        <div class="row content">
          <div class="col-md-4 order-1 order-md-2" data-aos="fade-left">
            <img src="{% static 'img/details-4.png' %}" class="img-fluid" alt="">
          </div>
          <div class="col-md-8 pt-5 order-2 order-md-1" data-aos="fade-up">
            <h3>Quas et necessitatibus eaque impedit ipsum animi consequatur incidunt in</h3>
            <p class="fst-italic">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
              magna aliqua.
            </p>
            <p>
              Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
              velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
              culpa qui officia deserunt mollit anim id est laborum
            </p>
            <ul>
              <li><i class="bi bi-check"></i> Et praesentium laboriosam architecto nam .</li>
              <li><i class="bi bi-check"></i> Eius et voluptate. Enim earum tempore aliquid. Nobis et sunt consequatur. Aut repellat in numquam velit quo dignissimos et.</li>
              <li><i class="bi bi-check"></i> Facilis ut et voluptatem aperiam. Autem soluta ad fugiat.</li>
            </ul>
          </div>
        </div>

      </div>
    </section>End Details Section -->

    <!-- ======= Gallery Section ======= -->
    <section id="gallery" class="gallery">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h2>Gallery</h2>
          <p> Events Gallery</p>
        </div>

        <div class="row no-gutters" data-aos="fade-left">
          {% for folder in folders %}

          <div class="col-lg-3 col-md-4">
            <div class="gallery-item" data-aos="zoom-in" data-aos-delay="100">
              <a href="#" class="gallery-lightbox">
                {% if folder.folder_image_url %}
                <img src="{{folder.folder_image_url.url}}" alt="" class="img-fluid">
                {% endif %}
                <div id="event_name">
                  <a href="{% url 'MoreEvent' folder.id %}"><h6>{{folder.folder_name}}</h6></a>
                </div>
              </a>
            </div>
          </div>
          {% endfor %}
        </div>
        <div id="morebtn">
         <button type="button"><a href="{% url 'MoreEventall' %}">More Events</a></button> 
        </div>
        
      </div>
    </section><!-- End Gallery Section -->

  
    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h2>Contact</h2>
          <p>Contact Us</p>
        </div>

        <div class="row">

          <div class="col-lg-4" data-aos="fade-right" data-aos-delay="100">
            <div class="info">
              <div class="address">
                <i class="bi bi-geo-alt"></i>
                <h4>Location:</h4>
                <p>A108 Adam Street, New York, NY 535022</p>
              </div>

              <div class="email">
                <i class="bi bi-envelope"></i>
                <h4>Email:</h4>
                <p>info@example.com</p>
              </div>

              <div class="phone">
                <i class="bi bi-phone"></i>
                <h4>Call:</h4>
                <p>+1 5589 55488 55s</p>
              </div>

            </div>

          </div>

          <div class="col-lg-8 mt-5 mt-lg-0" data-aos="fade-left" data-aos-delay="200">

            <form action="forms/contact.php" method="post" role="form" class="php-email-form">
              <div class="row">
                <div class="col-md-6 form-group">
                  <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required>
                </div>
                <div class="col-md-6 form-group mt-3 mt-md-0">
                  <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required>
                </div>
              </div>
              <div class="form-group mt-3">
                <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required>
              </div>
              <div class="form-group mt-3">
                <textarea class="form-control" name="message" rows="5" placeholder="Message" required></textarea>
              </div>
              <div class="my-3">
                <div class="loading">Loading</div>
                <div class="error-message"></div>
                <div class="sent-message">Your message has been sent. Thank you!</div>
              </div>
              <div class="text-center"><button type="submit">Send Message</button></div>
            </form>

          </div>

        </div>

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-4 col-md-6">
            <div class="footer-info">
              <h3>Goju Ryu Okinawa </h3>
              <p class="pb-3"><em>Qui repudiandae et eum dolores alias sed ea. Qui suscipit veniam excepturi quod.</em></p>
              <p>
                A108 Adam Street <br>
                NY 535022, USA<br><br>
                <strong>Phone:</strong> +1 5589 55488 55<br>
                <strong>Email:</strong> info@example.com<br>
              </p>
              <div class="social-links mt-3">
                <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
                <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
                <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
                <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
                <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-2 col-md-6 footer-links">
           
          </div>

          

          <div class="col-lg-6 col-md-6 col-sm-4 footer-newsletter">
            <h4>Location</h4>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4013544.1192986723!2d76.04381101336442!3d10.774756217123121!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3b00c582b1189633%3A0x559475cc463361f0!2sTamil%20Nadu!5e0!3m2!1sen!2sin!4v1657076370603!5m2!1sen!2sin" width="570" height="250" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
          </div>

        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>karate.in</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/bootslander-free-bootstrap-landing-page-template/ -->
        Designed by <a href="#">JKMO</a>
      </div>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src="{% static 'vendor/aos/aos.js' %}"></script>
  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'vendor/glightbox/js/glightbox.min.js' %}"></script>
  <script src="{% static 'vendor/php-email-form/validate.js' %}"></script>
  <script src="{% static 'vendor/purecounter/purecounter.js' %}"></script>
  <script src="{% static 'vendor/swiper/swiper-bundle.min.js' %}"></script>
  
  <!-- Template Main JS File -->
  <script src="{% static 'js/main.js' %}"></script>
  <script src="{% static 'js/timeline.js' %}"></script>

</body>

</html>