<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Goju Ryu Okinawa </title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <style>
    body{
        object-fit: cover;
    }
    video{
        height:100%;
        width:100%;
        object-fit: cover;
    }
    .container
    {
        width:100%;
        height:99vh;
        background-color: black;
        object-fit: cover;
    }
  </style>


</head>

<body>
    <div class="container">
        <video id="addiction-video" autoplay controls >
            <source src="static/img/preload.mp4"type="video/mp4" />
        </video>
    </div>
    
    <script type="text/javascript">
   

        var video = document.getElementById('addiction-video');
    
        video.addEventListener('ended',function(){
            location.href = 'index_load';
        });
    
    </script>
    
</body>
