{% load static %}
<!DOCTYPE html>
<html lang="en">

  <!DOCTYPE html>
  <html lang="en">
  <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Vertical Timeline Heading</title>
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
      <link href="{% static 'css/preload.css' %}" rel="stylesheet">
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js"></script>
      <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
  </head>
  <body>
  
      <div>
          <div class="container">
            <h2 class="pb-5 pt-5 text-center mb-5 display-5">Vertical Timeline Heading</h2>
            <!-- First Content Section-->
            <div class="row align-items-center connecting-lines d-flex">
              <div class="col-2 text-center bottom d-inline-flex justify-content-center align-items-center">
                <div class="circle font-weight-bold"><i class="fa fa-check"></i></div>
              </div>
              <div class="col-6">
                <h4>First Step</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras mollis enim eu erat lacinia pharetra a et mi. Vivamus tincidunt lorem non semper commodo.</p>
              </div>
            </div>
            <!-- Path Line -->
            <div class="row timeline">
              <div class="col-2">
                <div class="corner top-right"></div>
              </div>
              <div class="col-8">
                <hr/>
              </div>
              <div class="col-2">
                <div class="corner left-bottom"></div>
              </div>
            </div>
            <!-- Second Content Section-->
            <div class="row align-items-center justify-content-end connecting-lines d-flex">
              <div class="col-6 text-right">
                <h4>Second Step</h4>
                <p>Pellentesque vehicula urna et sollicitudin tempus. Suspendisse pretium neque id scelerisque semper. Mauris sem metus, rutrum at fermentum vitae, tincidunt a mi. Vestibulum scelerisque lacinia nunc quis iaculis. Proin pellentesque odio dolor, in placerat ex vestibulum eget. Integer sit amet feugiat dolor. Proin convallis viverra erat at euismod.</p>
              </div>
              <div class="col-2 text-center full d-inline-flex justify-content-center align-items-center">
                <div class="circle font-weight-bold"><i class="fa fa-check"></i></div>
              </div>
            </div>
            <!-- Path Line -->
            <div class="row timeline">
              <div class="col-2">
                <div class="corner right-bottom"></div>
              </div>
              <div class="col-8">
                <hr/>
              </div>
              <div class="col-2">
                <div class="corner top-left"></div>
              </div>
            </div>
            <!-- Third Content Section -->
            <div class="row align-items-center connecting-lines d-flex">
              <div class="col-2 text-center top d-inline-flex justify-content-center align-items-center">
                <div class="circle font-weight-bold"><i class="fa fa-check"></i></div>
              </div>
              <div class="col-6">
                <h4>Third Step</h4>
                <p>Aenean in fermentum ante. Praesent tempus lectus sed consectetur rutrum. Nulla imperdiet semper sollicitudin. Quisque consectetur nulla id magna efficitur sodales. Etiam dapibus metus diam, malesuada cursus ligula dapibus non. Duis pellentesque hendrerit orci id congue.</p>
              </div>
            </div>
          </div>
        </div>
  </body>
  </html>